@import "tailwindcss";
@plugin '../hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

.cesium-viewer-toolbar,
.cesium-viewer-animationContainer,
.cesium-viewer-timelineContainer {
  z-index: 9999;
}

.header-container {
  background-image: url("/assets/bg/header.png");
  background-size: 100% 100px;
  background-repeat: no-repeat;
  height: 100px;
}
.app-name {
  position: relative;
}
.app-name::before {
  content: "";
  position: absolute;
  background-image: url("/assets/bg/rdss_title_trim_l.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
  left: 0;
  transform: translateX(-100%);
  height: 100%;
  width: 100px;
}

.app-name::after {
  content: "";
  position: absolute;
  background-image: url("/assets/bg/rdss_title_trim_r_.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  right: 0;
  transform: translateX(100%);
  height: 100%;
  width: 100px;
}
